@font-face {
    font-family: 'Reey-Regular';
    /* font-style: normal;
    font-weight: normal; */
    src: url('./fonts/Reey-Regular.otf');
    /* src: local('Tangerine'), url('http://example.com/tangerine.ttf') format('truetype');  */
  }
 
  .fontReey {
    font-family: 'Reey-Regular', serif;
    font-size: 32px;
  }

  :root {
    --primary-color: #006E7F;
    --button-color: #00c2cb;
    --text-color: #1a202c;
  }
