input {
    min-width: 90% ;
    margin-top: 4px !important;
    padding: 10px !important;
    margin-bottom: 16px !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    
}

.buttonChange {
    background-color: #006E7F;
    padding: 10px;
    min-width: 100px;
    color: #fff;
    border-radius: 10px;

}

.buttonChange:active {
    background-color: rgba(37, 157, 188, 0.9);
}

.buttonCancel {
    background-color: rgb(226, 230, 231);
    padding: 10px;
    margin-left: 20px;
    min-width: 100px;
    color: #000;
    border-radius: 10px;

}

.buttonCancel:active {
    background-color: rgba(226, 230, 231, 0.5);
}